<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.fus.customer.dao.CustomerInfoDao">
	<select id="cuslogin" resultType="String">
		select customerinfopassword from customerinfo where customerinfoid = #{cusid}
	</select>
	
	 <insert id="customerInsertMember" parameterType="CustomerInfoBean">
		insert into customerinfo values(#{customerInfoNum},#{customerInfoId},#{customerInfoPassword},#{customerInfoName},#{customerInfoPhone},#{customerInfoEmail},#{customerInfoGrade},#{customerInfoCurrentPoint},#{customerInfoTotalPoint},now(),now(),#{customerAuthoritles})
 	</insert>
 	<select id="customerList" resultType="CustomerInfoBean">
		select * from customerinfo
	</select>
	
	<select id="selectListDuplCheck" resultType="int">
	select count(*) from customerinfo where (select count(*) from storeinfo where storeinfoid) or customerinfoid=#{customerinfoid}
	</select> 
	
</mapper>